################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Cult/v16/Browse.VC.opendb
/Idol Town/Temp
